
#welcome-message {
  display:flex;
  justify-content: center;
  background-color: #0a6bc5;
  color: white;
  padding: 20px;
}
#welcome-text{
  font-size: 30px;
}

#picture-wrapper {
  display:flex;
  justify-content: center;
  padding: 1rem;
  
}
.picture-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "picture picture picture" "Name Sold Price";
  background-color: green;
  width: 30vw
}

.picture { grid-area: picture; }

#picture {
  max-width: 100%;
}
.Name { 
  grid-area: Name;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.Price { 
  grid-area: Price; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sold { 
  grid-area: Sold; 
  color:RED;
  font-weight: 600;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}