body {
  background-color: #fad8de;
}

/*Header*/
#welcome-message {
  display:flex;
  justify-content: center;
  background-color: #f8bac5;
  color: white;
  position: relative;
}

#welcome-text{
  font-size: 50px;
  font-family: 'Neucha', cursive;
  /*font-family: 'Indie Flower', cursive;
  font-family: 'Handlee', cursive;*/
}

#kontakt-info {
  position: absolute;            /* remove box from the normal flow */
  right: 2%;   
  font-family: 'Neucha', cursive;
  font-size: 1.6em
}

/*Painting */
#picture-wrapper {
  float:left;
  width: 30%;
  margin: 1.66%;
  
}
#picture-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2.6fr 0.2fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "picture picture picture" "Name Sold Price" "Name Sold Size";
  background-color: #f8bac5;
  width: 30vw
}
.image-text {
  color: white;
  font-weight: bold;
  font-family:  'Neucha', cursive;
  font-size: 1.5em;
}
#picture { grid-area: picture; }

#picture {
  max-width: 100%;
}
#Name { 
  grid-area: Name;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
 }

#Price {
  grid-area: Price;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Size {
  grid-area: Size;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Sold { 
  grid-area: Sold; 
  color:rgb(255, 82, 82);
  font-weight: 600;
  font-size: 3em;
  font-family: 'Neucha';
  display: flex;
  justify-content: center;
  align-items: center;
}